$font-stack: Helvetica Neue, Helvetica, Verdana, sans-serif;
$color-white: #ffffff;

//CSS Reset
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    background: 0 0;
}

.app-container {
    font-family: $font-stack;
    margin-top: 10px;
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
    }
    .card-container {
        margin: 50px 35px;
    }
    .card {
        display: inline-block;
        width: 20%;
        border: 1px solid #dfdfdf;
        border-bottom: 3px solid #4285f4;
        height: 250px;
        margin: 0 15px;
        vertical-align: top;
        &:hover {
            box-shadow: 0 2px 2px #dfdfdf;
            cursor: pointer;
        }
        .class-heading {
            height: 100px;
            background-color: #4285f4;
        }
        .inner-card {
            padding: 10px;
            header {}
            h2,
            h3 {
                font-weight: 400;
                line-height: 25px;
            }
            h2 {
                font-size: 16px;
                color: #4285f4;
            }
            h3 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
                height: 50px;
                overflow: hidden;
                //box-shadow: inset 0px 2px 10px rgba(255, 255, 255, 0.5);
                &.expanded {
                    height: auto;
                }
            }
        }
    }
}
