@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font-stack: 'Roboto', Helvetica Neue, Helvetica, Verdana, sans-serif;
$white: #ffffff;
$text-color: #8f98a7;
$text-secondary: #4285f4;
$smooth: all 0.2s ease-in-out;

//CSS Reset
* {
    background: 0 0;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}

.svg {
    position: relative;
    right: -42%;
    top: 8%;
    svg {
        height: 22px;
        transition: $smooth;
        width: 22px;
    }
    &:hover {
        svg {
            transform: scale(1.2);
        }
    }
}

.app-container {
    font-family: $font-stack;
    margin: 10px auto 0;
    max-width: 1400px;
    @media only screen and (max-width: 1199px) {
        max-width: 850px;
    }
    h1 {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
    }
    .card-container {
        margin: 50px 35px;
        text-align: center;
        @media only screen and (max-width: 768px) {
            margin: 50px 15px;
        }
        .loading {
            color: $text-color;
            font-size: 20px;
        }
        .card {
            border: 1px solid #dfdfdf;
            display: inline-block;
            margin: 0 15px 30px;
            min-height: 250px;
            transition: $smooth;
            vertical-align: top;
            width: 250px;
            // SASS loop to generate different colors for each .card
            $colors: #db4437, #f4b142, #0f9d58, #aaaaaa, #4285f4, #333333, #6854f5, #b1cdfa;
            @for $i from 1 through length($colors) {
                &:nth-child(#{length($colors)}n+#{$i}) {
                    border-bottom: 4px solid nth($colors, $i);
                    .class-heading {
                        background-color: nth($colors, $i);
                    }
                }
            }

            &:hover {
                box-shadow: 0 3px 5px #afafaf;
                cursor: pointer;
            }
            .class-heading {
                height: 120px;
                overflow: hidden;
                img {
                    background-size: cover;
                    opacity: 0.2;
                    position: relative;
                    top: -25px;
                    width: 110%;
                }
                .svg {
                    z-index: 99;
                    svg {
                        fill: $white;
                    }
                }

            }
            .inner-card {
                padding: 15px 20px;
                text-align: left;
                h2.class-title {
                    color: $text-secondary;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 15px;
                }
                h3.class-number {
                    color: $text-color;
                    font-size: 12px;
                    margin: 5px 0;
                }
                svg {
                    fill: $text-color;
                }
                .card-description {
                    color: $text-color;
                    font-size: 12px;
                    height: 50px;
                    overflow: hidden;
                    position: relative;
                    transition: height 1s ease-in-out;
                    .description-overlay {
                        background-image: linear-gradient(to bottom, transparent, $white);
                        bottom: -2px;
                        display: block;
                        height: 15px;
                        left: 0;
                        margin: 0;
                        padding: 15px 0 0;
                        position: absolute;
                        width: 100%;
                    }
                    &.expanded {
                        height: auto;
                    }
                }
                .arrow-down,
                .arrow-up {
                    left: 90%;
                    top: -5px;
                    svg {
                        fill: $text-secondary;
                    }
                }
                .arrow-up {
                    display: none;
                    top: -7px;
                }
                nav.card-nav {
                    height: 40px;
                    ul {
                        padding-top: 10px;
                        li {
                            display: inline;
                            list-style: none;
                            margin-right: 17%;
                            &.svg {
                                position: static;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
