@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font-stack: 'Roboto', Helvetica Neue, Helvetica, Verdana, sans-serif;
$white: #ffffff;
$text-color: #555555;

//CSS Reset
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    background: 0 0;
}

.app-container {
    font-family: $font-stack;
    margin-top: 10px;
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
    }
    .card-container {
        margin: 50px 35px;
        .loading {
            font-size: 20px;
            color: $text-color;
        }
        .card {
            display: inline-block;
            width: 20%;
            max-width: 250px;
            border: 1px solid #dfdfdf;
            min-height: 250px;
            margin: 0 15px 15px;
            vertical-align: top;
            transition: all 0.2s ease-in-out;

            // SASS loop to generate different colors for each .card
            $colors: #db4437, #f4b142, #0f9d58, #aaaaaa, #4285f4, #333333;
            @for $i from 1 through length($colors) {
                &:nth-child(#{length($colors)}n+#{$i}) {
                    border-bottom: 3px solid nth($colors, $i);
                    .class-heading {
                        background-color: nth($colors, $i);
                    }
                }
            }

            &:hover {
                box-shadow: 0 3px 5px #dfdfdf;
                cursor: pointer;
            }
            .class-heading {
                height: 100px;
            }
            .inner-card {
                padding: 10px;
                h2,
                h3 {
                    font-weight: 500;
                    line-height: 25px;
                }
                h2 {
                    font-size: 15px;
                    color: #4285f4;
                }
                h3,
                p {
                    color: $text-color;
                }
                h3 {
                    font-size: 14px;
                }
                p.card-description {
                    font-size: 12px;
                    height: 50px;
                    overflow: hidden;
                    position: relative;
                    transition: height 1s ease-in-out;
                    .description-overlay {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        top: 20px;
                        width: 100%;
                        height: 10px;
                        margin: 0;
                        padding: 10px 0;
                        background-image: linear-gradient(to bottom, transparent, $white);
                    }
                    &.expanded {
                        height: auto;
                    }
                }
                nav.card-nav {
                    height: 50px;
                }
            }
        }
    }
}
