.app-container {
    font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
    }

    .card {
        width: 20%;
        border: 1px solid #efefef;
        padding: 10px;
        border-bottom: 3px solid #4285f4;

    }
}
